form.form-horizontal
    div.control-group
        label.control-label Login
        div.controls
            input(type='text', placeholder='Login')
    div.control-group
        label.control-label Password
        div.controls
            input(type='password', placeholder='Password')
    div.control-group
        div.controls
            label.checkbox Remember me
                input(type='checkbox')
    div.form-actions
        button(type='submit').btn.btn-primary Sign in
        &nbsp;
        button(type='button').btn Cancel


