
<link rel="stylesheet" type="text/css" href="css/portfolio.css">
<link rel="stylesheet" type="text/css" href="css/lib/isotope.css">
    <style>
        .mobile img{
            margin-left: 40px;
        }

       
    </style>
<div id="page" class="hide">
    <div id="portfolio">
        <div class="container">
            <div class="section_header">
                <h3>Portfolio</h3>
            </div>
            <div class="row">
                <div class="span12">
                    <div id="filters_container">
                        <ul id="filters">
                            <li><a href="#" data-filter="*" class="active">All</a></li>
                            <li class="separator">/</li>
                            <li><a href="#" data-filter=".web">Web</a></li>
                            <li class="separator">/</li>
                            <li><a href="#" data-filter=".mobile">Mobile (Web/App)</a></li>
                            <!-- <li class="separator">/</li>
                            <li><a href="#" data-filter=".video">Video Media</a></li> -->
                            <!-- <li class="separator">/</li>
                            <li><a href="#" data-filter=".print">Print</a></li>
                            <li class="separator">/</li>
                            <li><a href="#" data-filter=".web">Web</a></li> -->
                        </ul>
                    </div>
                </div>
            </div>   


            <div class="row">
                <div class="span12">
                    <div id="gallery_container">

                        <div class="photo web">
                            <img src="img/leap.png" />
                            <a href="/portfolio/leap" class="mask">
                                <h3>LEAP</h3>
                                <small>Details</small>
                                <div class="more">+</div>
                            </a>
                        </div>
                        <div class="photo web">
                            <img src="img/mbac.png" />
                            <a href="/portfolio/mbac" class="mask">
                                <h3>MBAC</h3>
                                <small>Details</small>
                                <div class="more">+</div>
                            </a>
                        </div>
                        <div class="photo web">
                            <img src="img/myneighborworks.png" />
                            <a href="/portfolio/myneighborworks" class="mask">
                                <h3>NeighborWorks America</h3>
                                <small>Details</small>
                                <div class="more">+</div>
                            </a>
                        </div>
                        <div class="photo web">
                            <img src="img/wellsfargo-logo.png" />
                            <a href="/portfolio/wellsfargo" class="mask">
                                <h3>WellsFargo</h3>
                                <small>Details</small>
                                <div class="more">+</div>
                            </a>
                        </div>
                        <div class="photo web">
                            <img src="img/yunycrew.png" style="height: 160px;"/>
                            <a href="#" class="mask">
                                <h3>Yuny Crew Roofing</h3>
                                <small>Details</small>
                                <div class="more">+</div>
                            </a>
                        </div>
                        <div class="photo web">
                            <img src="img/greencarpet.png" style="height: 160px;"/>
                            <a href="#" class="mask">
                                <h3>A Plus Carpet Cleaning</h3>
                                <small>Details</small>
                                <div class="more">+</div>
                            </a>
                        </div>

                        <!-- <div class="photo video">
                            <img src="img/lean-startup-machine-logo.jpg" />
                            <a href="/portfolio/lean-startup-machine" class="mask">
                                <h3>View project</h3>
                            </a>
                        </div>

                        <div class="photo video">
                            <img src="img/chartpath-logo.png" />
                            <a href="/portfolio/chart-path" class="mask">
                                <h3>View project</h3>
                            </a>
                        </div>

                        <div class="photo video">
                            <img src="img/nissan-logo.jpg" />
                            <a href="/portfolio/nissan" class="mask">
                                <h3>View project</h3>
                            </a>
                        </div>

                        <div class="photo video">
                            <img src="img/shoeboxed.jpg" />
                            <a href="/portfolio/shoeboxed" class="mask">
                                <h3>View project</h3>
                            </a>
                        </div>

                        <div class="photo video">
                            <img src="img/tennesse-logo.jpg" />
                            <a href="/portfolio/tennessee" class="mask">
                                <h3>View project</h3>
                            </a>
                        </div> -->

                        <div class="photo mobile">
                            <img src="img/captioexpenses.png" />
                            <a href="/portfolio/captioexpenses" class="mask">
                                <h3>Captio Expenses</h3>
                                <small>Details</small>
                                <div class="more">+</div>
                            </a>
                        </div>
                        <!-- <div class="photo mobile hide">
                            <img src="img/fox-whistle.png" />
                            <a href="/portfolio/fox-whistle" class="mask">
                                <h3>Fox Whistle</h3>
                                <small>Details</small>
                                <div class="more">+</div>
                            </a>
                        </div> -->
                        <div class="photo mobile">
                            <img src="img/fox-whistle.png" />
                            <a href="/portfolio/fox-whistle" class="mask">
                                <h3>Fox Whistle</h3>
                                <small>Details</small>
                                <div class="more">+</div>
                            </a>
                        </div>
<!--                         <div class="photo mobile">
                            <img src="img/treater.png" />
                            <a href="portfolio-item-treater.html" class="mask">
                                <h3>Treater</h3>
                                <small>Details</small>
                                <div class="more">+</div>
                            </a>
                        </div>
 -->

                        <!-- <div class="photo web">
                            <img src="img/portfolio2.png" />
                            <a href="portfolio-item.html" class="mask">
                                <h3>Awesome portfolio item</h3>
                                <small>Web Design</small>
                                <div class="more">+</div>
                            </a>
                        </div>
                        <div class="photo art ilustration web">
                            <img src="img/portfolio3.png" />
                            <a href="portfolio-item.html" class="mask">
                                <h3>Awesome portfolio item</h3>
                                <small>Art</small>
                                <div class="more">+</div>
                            </a>
                        </div>
                        <div class="photo print">
                            <img src="img/portfolio1.png" />
                            <a href="portfolio-item.html" class="mask">
                                <h3>Awesome portfolio item</h3>
                                <small>Ilustration</small>
                                <div class="more">+</div>
                            </a>
                        </div> -->

                    </div>
                </div>
            </div> 



        </div>
    </div>

    <!-- footer -->
    <div ng-include="'/templates/footer-info'"></div>
</div>

    <script src="js/jquery.isotope.min.js"></script>

    <script type="text/javascript">
        $(function(){
            var $container = $('#gallery_container'),
                  $filters = $("#filters a");
        
            $container.imagesLoaded( function(){
                $('#page').show();
                $container.isotope({
                    itemSelector : '.photo',
                    masonry: {
                        columnWidth: 102
                    }
                });
            });

            // filter items when filter link is clicked
            $filters.click(function() {
                $filters.removeClass("active");
                $(this).addClass("active");
                var selector = $(this).data('filter');
                $container.isotope({ filter: selector });
                return false;
            });
        
        
        });
    </script>