<footer id="footer">
        <div class="container">
            <div class="row sections">
                <!-- <div class="span4 recent_posts">
                    <h3 class="footer_header">
                        Recent Posts
                    </h3>
                    <div class="post">
                        <a href="blogpost.html">
                            <img src="img/recent_post1.png" class="img-circle" />
                        </a>
                        <div class="date">
                            Wed, 12 Dec
                        </div>
                        <a href="blogpost.html" class="title">
                            Randomised words which don't look embarrasing hidden.
                        </a>
                    </div>
                    <div class="post">
                        <a href="blogpost.html">
                            <img src="img/recent_post2.png" class="img-circle" />
                        </a>
                        <div class="date">
                            Mon, 12 Dec
                        </div>
                        <a href="blogpost.html" class="title">
                            Randomised words which don't look embarrasing hidden.
                        </a>
                    </div>
                </div> -->
                <div class="span4 testimonials">
                    <h3 class="footer_header">
                        Testimonials
                    </h3>
                    <div class="wrapper">
                        <div class="quote">
                            <span>“</span>
                            Lean35 Inc cares about their craft. They don't just deliever beautiful display but they also deliver great maintainable code as well. I look forward to working with Lean35 for years to come.
                            <span></span>
                        </div>
                        <div class="author">
                            <div class="name">Bob Schmertz</div>
                            <div class="info">
                                Painless Scripting Inc. President. 
                            </div>
                        </div>                        
                        <!-- <div class="author">
                            <img src="img/user-display.png" />
                            <div class="name">Alejandra Galvan Castillo</div>
                            <div class="info">
                                Details Canvas
                            </div>
                        </div> -->
                    </div>
                </div>
                <div class="span4 contact">
                    <h3 class="footer_header">
                        Contact
                    </h3>
                    <form ng-submit="submit()" ng-controller="HomeCtrl">
                        <input type="text" placeholder="Your name" ng-model="ticket.name" />
                        <input type="text" placeholder="Your email" ng-model="ticket.email"/>
                        <textarea rows="3" placeholder="Message" ng-model="ticket.message"></textarea>
                        <input id="submit" type="submit" value="Send" data-toggle="popover" data-content="Thanks" data-original-title="Thanks" data-trigger="hover" />
                    </form>
                </div>
            </div>

            <div class="row credits">
                <div class="span12">
                    <div class="row social">
                        <!-- <div class="span12">
                            <a href="#" class="facebook">
                                <span class="socialicons ico1"></span>
                                <span class="socialicons_h ico1h"></span>
                            </a>
                            <a href="#" class="twitter">
                                <span class="socialicons ico2"></span>
                                <span class="socialicons_h ico2h"></span>
                            </a>
                            <a href="#" class="gplus">
                                <span class="socialicons ico3"></span>
                                <span class="socialicons_h ico3h"></span>
                            </a>
                            <a href="#" class="flickr">
                                <span class="socialicons ico4"></span>
                                <span class="socialicons_h ico4h"></span>
                            </a>
                            <a href="#" class="pinterest">
                                <span class="socialicons ico5"></span>
                                <span class="socialicons_h ico5h"></span>
                            </a>
                            <a href="#" class="dribble">
                                <span class="socialicons ico6"></span>
                                <span class="socialicons_h ico6h"></span>
                            </a>
                            <a href="#" class="behance">
                                <span class="socialicons ico7"></span>
                                <span class="socialicons_h ico7h"></span>
                            </a>
                        </div> -->
                    </div>
                    <div class="row copyright">
                        <div class="span12">
                            © 2014 LEAN35 Inc. All rights reserved.
                        </div>
                    </div>
                </div>            
            </div>
        </div>
    </footer>